.container {
  color: #343a40;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.row {
  text-align: center;
}
#forecastSetup {
  border-radius: 4px;
  box-shadow: 3px 3px 5px;
}
h1 {
  margin-bottom: 8px;
  padding: 0;
}

#coder {
  margin-top: 5px;
  text-align: center;
  font-size: 10px;
}
