.wrapcode {
  position: relative;
  background-image: radial-gradient(#00f2fe 0%, #4facfe 100%);
  background-size: cover;
  max-width: 500px;
  margin: auto;
  margin-top: 15px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 5px 6px 14px;
}
